﻿<div *ngIf="mode == menuMode">
  <button (click)="createNewMatch()">
    Новый матч
  </button>
  <button (click)="openPlayersDictionaryForRegistration()">
    Зарегистрировать нового игрока
  </button>
  <button (click)="openStatistics()">
    История матчей
  </button>
</div>

<match *ngIf="mode == matchMode">
</match>

<playersdictionary *ngIf="mode == newPlayerRegistrationMode"
                   [playersDictionaryMode]="newPlayerRegistration">
</playersdictionary>

<statistics *ngIf="mode == statisticsMode">
</statistics>
