﻿<table>
  <tr *ngIf="matchMode == creationMode">
    <td>
      <button (click)="moveLeft()">
        L
      </button>
    </td>
    <td>
      {{position}}
    </td>
    <td>
      <button (click)="moveRight()">
        R
      </button>
    </td>
  </tr>

  <tr *ngIf="matchMode == creationMode">
    <td colspan="3">
      <button (click)="removePlayer()">
        Удалить
      </button>
    </td>
  </tr>

  <tr>
    <td colspan="3">
      {{name}}
    </td>
  </tr>
  
  <tr *ngFor="let score of scores">
    <td colspan="3">
      <score 
             [type]="score">
      </score>
    </td>
  </tr>

  <tr *ngIf="(matchMode == preOnlineMode || matchMode == onlineMode) && !eventPlayer">
    <td colspan="3">
      <button (click)="addScore()">
        Add
      </button>
    </td>
  </tr>
  <tr *ngIf="eventPlayer && eventPlayer.Id == player.Id">
    <td>
      <button (click)="addSpecificScore(plusFactor, true)">
        +
      </button>
    </td>
    <td></td>
    <td>
      <button (click)="addSpecificScore(minusFactor, true)">
        -
      </button>
    </td>
  </tr>

  <tr>
    <td colspan="3">
      scoresInMatch
    </td>
  </tr>

  <tr>
    <td colspan="3">
      totalForLast24hoursMatches
    </td>
  </tr>

  <tr>
    <td colspan="3">
      global
    </td>
  </tr>
</table>