﻿<table *ngIf="players.length > 0">
  <tr>
    <th>
      Id
    </th>
    <th>
      Имя
    </th>
  </tr>
  <tr *ngFor="let player of players" (click)="playerClick(player)">
    <td>
      {{player.Id}}
    </td>
    <td>
      {{player.Name}}
    </td>
  </tr>

</table>

<div *ngIf="playersDictionaryMode == newPlayerRegistrationMode">
  <table>
    <tr>
      <th>
        Игровое имя
      </th>
      <th>
        Login
      </th>
      <th colspan="2">
        Пароль
      </th>
    </tr>
    <tr>
      <td>
        <input type="text" placeholder="Введите имя" name="creationName" [(ngModel)]="creationName" />
      </td>
      <td>
        <input type="text" placeholder="Введите логин" name="creationLogin" [(ngModel)]="creationLogin" />
      </td>
      <td>
        <input type="password" placeholder="Введите пароль" name="creationPassword" [(ngModel)]="creationPassword" />
      </td>
      <td>
        <input type="password" placeholder="Повторите пароль" name="creationPasswordRepeat" [(ngModel)]="creationPasswordRepeat" />
      </td>
    </tr>
  </table>

  <div *ngIf="!verified">
    <button *ngIf="!verified" (click)="verifyRegistrationData()">
      Проверить
    </button>
    {{verificationErrorMessage}}
  </div>
  <button *ngIf="verified" (click)="registerPlayer()">
    Создать
  </button>
</div>