﻿<table style="text-align: center">
  <tr>
    <td *ngFor="let player of players; let position=index" style="vertical-align:top">
      <playercolumn 
        [id]="player.Id"
        [name]="player.Name"
        [position]="position"
        (onMoveLeft)="moveLeft($event)"
        (onMoveRight)="moveRight($event)"
        (onRemovePlayer)="removePlayer($event)">
      </playercolumn>
    </td>

    <td *ngIf="matchMode == creationMode">
      <button *ngIf="players.length > 1" (click)="startMatch()">
        Начать
      </button>
    </td>

    <td *ngIf="matchMode == preOnlineMode">
      <button (click)="toCreationMode()">
        Редактировать
      </button>
    </td>
    
    <td *ngIf="matchMode == preOnlineMode || matchMode == onlineMode">
      <button (click)="toMainMenu()">
        Вернуться в главное меню
      </button>
    </td>
  </tr>
</table>

<playersdictionary *ngIf="matchMode == creationMode"
                   [playersDictionaryMode]="selectionToMatch">
</playersdictionary>